@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
img,
a,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
figure,
textarea,
button,
ul {
  color: inherit;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
  vertical-align: top;
  transition: none;
  list-style-type: none;
}

body {
  font-style: normal;
  line-height: normal;
  font-family: "Jost";
  font-size: 22px;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.pagination, .latest-post, .article-box, .blog, .counter, .project-box, .project, .hero, .footer__inner, .header {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.banner {
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}

.breadcrumbs__ul {
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 2px;
  padding-right: 4px;
  color: #4D5053;
  font-weight: 400;
  line-height: 150%;
}
.breadcrumbs__link {
  color: #4D5053;
  font-weight: 400;
  line-height: 150%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 57px;
}
.header__logo {
  display: block;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__menu-link {
  padding: 5px 25px;
}
.header__menu-link:hover {
  background-color: grey;
}

.footer__inner {
  margin-bottom: 134px;
  display: flex;
}
.footer__logo {
  display: block;
  margin-bottom: 18px;
}
.footer__social {
  width: 393px;
  margin-right: 101px;
}
.footer__social-text {
  margin-bottom: 31px;
}
.footer__social-icons-box {
  display: flex;
  align-items: center;
  gap: 54px;
}
.footer__menu {
  width: 125px;
  margin-right: 322px;
}
.footer__menu-heading {
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
}
.footer__menu-link {
  display: block;
  padding: 20px 0px;
}
.footer__menu-link:hover {
  background-color: grey;
}
.footer__contact {
  width: 258px;
}
.footer__contact-title {
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  margin-bottom: 26px;
}
.footer__contact-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero {
  margin-bottom: 96px;
}
.hero__main {
  margin-bottom: 21px;
}
.hero__inner {
  position: relative;
}
.hero__intro {
  position: absolute;
  top: 208px;
  left: 62px;
  width: 434px;
}
.hero__intro-title {
  font-family: "DM Serif Display";
  line-height: 125%;
  font-size: 65px;
  margin-bottom: 18px;
}
.hero__btn {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #292F36;
  border-radius: 18px;
  font-size: 18px;
  line-height: 125%;
  font-weight: 600;
  padding: 26px 49px;
}
.hero__btn-icon {
  margin-left: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}
.project__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 737px;
  margin-bottom: 93px;
}
.project__heading-title {
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 8px;
}
.project__heading-text {
  text-align: center;
  line-height: 150%;
}

.project-box {
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(2, 548px);
  gap: 56px 104px;
}
.project-box__img {
  width: 100%;
  margin-bottom: 24px;
}
.project-box__content {
  display: flex;
  justify-content: space-between;
}
.project-box__title {
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  margin-bottom: 4px;
}

.counter {
  margin-bottom: 96px;
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #f4f0ec;
  display: flex;
  justify-content: center;
}

.counter-box {
  display: flex;
  gap: 60px;
  text-align: center;
}
.counter-box__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 76px;
}
.counter-box__item:not(:last-child)::after {
  content: "";
  border-right: 1px solid #cda274;
}
.counter-box__item-title {
  font-family: "DM Serif Display";
  font-size: 85px;
  line-height: 125%;
  color: #CDA274;
  padding-bottom: 16px;
}

.blog {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 811px;
  margin-bottom: 52px;
}
.blog__heading-title {
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 12px;
}
.blog__heading-text {
  text-align: center;
  line-height: 150%;
}

.article {
  padding: 21px;
  border-radius: 75px;
  border: 1px solid #E7E7E7;
}
.article-box {
  display: grid;
  grid-template-columns: repeat(3, 382px);
  gap: 27px;
}
.article__content {
  position: relative;
  padding-bottom: 16px;
}
.article__img {
  margin-bottom: 21px;
}
.article__button {
  display: flex;
  position: absolute;
  border-radius: 10px 10px 10px 0;
  top: 228px;
  left: 20px;
  background-color: #fff;
  padding: 11px 6px;
  font-size: 16px;
  line-height: 150%;
}
.article__title {
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  width: 305px;
  height: 70px;
  margin-bottom: 30px;
}
.article-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article_select {
  background-color: #F4F0EC;
}

.banner {
  margin-bottom: 200px;
}
.banner__inner {
  position: relative;
  margin-bottom: 200px;
}
.banner__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 503px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  padding: 41px 78px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.banner__title {
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
}

.blog {
  margin-bottom: 200px;
}

.news__title {
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
}

.latest-post {
  margin-bottom: 150px;
}
.latest-post__heading {
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 27px;
}
.latest-post__box {
  display: flex;
  gap: 65px;
  padding: 21px;
  border-radius: 75px;
  border: 1px solid #E7E7E7;
}
.latest-post__content-box {
  margin-top: 54px;
  margin-right: 34px;
}
.latest-post__content {
  margin-right: 20px;
  margin-bottom: 40px;
}
.latest-post__title {
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  margin-bottom: 22px;
}
.latest-post__text {
  line-height: 150%;
}
.latest-post-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  margin-top: 51px;
}
.pagination__item {
  width: 52px;
  height: 52px;
  border: 1px solid #CDA274;
  border-radius: 50%;
  color: #292F36;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__item:hover {
  background: #F4F0EC;
  border: 1px solid #F4F0EC;
}
.pagination__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */